body{
	width:100%
}

.titre{
	font-size: 96px;
	font-family: Segoe print;
	text-shadow: -1px -1px #fb6, 1px 1px #d60, -3px 0 4px #000;
}
.container{
	width: 1 em;
	height: 1 em;
	margin-left: 32px;
	margin-top: 32px;
	margin-right:32px
}

.cadre{
	
}