body{
	width:100%
}

.titre{
	font-size: 96px;
	font-family: fantasy;
	text-shadow: -2px -3px rgb(143, 143, 143), 3px 2px rgb(34, 34, 34), -3px 0 4px #000;
}
.container{
	width: 1 em;
	height: 1 em;
	margin-left: 32px;
	margin-top: 32px;
	margin-right:32px
}